<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body gray--bg">
                @BodyContent
            </div>
        </div>
        <button class="accordion-button" id="headingOne" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <div class="line-toggle "></div>
        </button>
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment BodyContent { get; set; }
}
