#footerbar[b-gkw03eg66c] {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #002e2d;
  z-index: 1000;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 24px 24px 0 0;
}

.navbar-inner[b-gkw03eg66c] {
  padding: 10px 0;
}

.nav[b-gkw03eg66c] {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-items[b-gkw03eg66c] {
  text-align: center;
  color: #ccc;
  cursor: pointer;
  transition: all 0.3s ease;
}

.footer-items.active[b-gkw03eg66c] {
  color: #fe5715;
  font-weight: bold;
}

.footer-items:hover[b-gkw03eg66c] {
  color: #fe5715;
}

.footer-items i[b-gkw03eg66c],
.footer-items img[b-gkw03eg66c] {
  font-size: 24px;
  display: block;
  margin-bottom: 5px;
}

.footer-items div[b-gkw03eg66c] {
  font-size: 12px;
}

img[b-gkw03eg66c] {
  max-height: 24px;
}

.middle-item[b-gkw03eg66c] {
  position: relative;
  top: -21px;
}

.footer-items img[b-gkw03eg66c] {
  filter: grayscale(1);
  transition: all 0.3s ease;
}

.footer-items.active img[b-gkw03eg66c],
.footer-items:hover img[b-gkw03eg66c] {
  filter: grayscale(0);
}

.footer-items[b-gkw03eg66c] {
  text-align: center;
}

.footer-items .circle[b-gkw03eg66c] {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.outer-circle[b-gkw03eg66c] {
  width: 80px;
  height: 80px;
  background-color: #002e2d;
  margin: 0 auto;
}

.inner-circle[b-gkw03eg66c] {
  width: 60px;
  height: 60px;
  background-color: #fe5715;
}

.inner-circle img[b-gkw03eg66c] {
  width: 30px;
  height: 30px;
}
