

p[b-z0ysabx2d5]{
    color: #fff;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    text-align: center
}

select[b-z0ysabx2d5]{
    width: 350px;
    outline: none;
    border: 1px solid #fff;
    padding: 1rem;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    cursor: pointer;
}

select:focus[b-z0ysabx2d5],
select:hover[b-z0ysabx2d5]{
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.329);
}

