<div class="charge-slider slide-container swiper">
        <div class="slide-content">
            <div class="card-wrapper swiper-wrapper gray--bg">
               @foreach (var card in ChargeCards)
        {
            <ChargeCard IconClass="@card.Icon" Title="@card.Title" SubTitle="@card.SubTitle" DefaultClass="swiper-slide"/>
        }      
            </div>
        </div>

        <div class="swiper-button-next swiper-navBtn"></div>
        <div class="swiper-button-prev swiper-navBtn"></div>
        <div class="swiper-pagination"></div>
 </div>

@code {
 
    [Parameter]
    public List<ChargeCardModel> ChargeCards { get; set; } = new();
}