.btn-arrow-icon {
  padding: 3px 14px;
  background-color: #ff5515;
  color: #ff5515;
  border-color: #ff5515;
  border-radius: 8px;
  width: 40px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-arrow-icon i {
  color: white;
  font-weight: bolder;
  font-size: 20px;
}

.date-list {
  display: flex;
  justify-content: space-between;
}
