.font-weight-bold[b-t2ldwp2q6q] {
    font-weight: bold;
}

.bi-three-dots[b-t2ldwp2q6q] {
    font-size: 24px;
    font-weight: bolder;
}

.orange-color .bi-three-dots[b-t2ldwp2q6q] {
    color: rgb(236, 24, 24) !important;
}

.billl-card[b-t2ldwp2q6q] {
    border-radius: 10px; /* Adjust the radius value as needed */
  }