.charge-card {
  background-color: #f0f0f0;
  margin-right: 12px;
}

.charge-card .card-body {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;
}

.bi-ev-station-fill {
  font-size: 36px;
  color: gray;
}

.slider-slide {
  width: 150px !important;
}
