@page "/"

<div class="main-page">
    <div class="my-2" <Accordion>
        <BodyContent>
            <ChargeSlider ChargeCards="@ChargeCardConstants.ChargeCardData" />
        </BodyContent>
        </Accordion>
    </div>

    <div class="my-2">
        <DateFilterList />
    </div>

    <div class="mb-4">
        @foreach (var item in BillCardConstants.BillCardData)
        {
            <BillCard Item="@item" />
        }
    </div>
</div>
