<div id="footerbar" class="footer-area">
  <div class="navbar-inner">
    <ul class="nav">
     
      <li class="footer-items active" data-slide-to="0">
        <i class="bi bi-geo-alt-fill"></i>
        <div>İstasyon</div>
      </li>
    
      <li class="footer-items" data-slide-to="1">
        <i class="bi bi-calendar2-week-fill"></i>
        <div>İşlemler</div>
      </li>
    
      <li class="footer-items middle-item" data-slide-to="2">
        <div class="circle outer-circle">
          <div class="circle inner-circle">
            <img src="Images/logo.svg" alt="Şarj">
          </div>
        </div>
        <div>Şarj</div>
      </li>
    
      <li class="footer-items" data-slide-to="3">
        <i class="bi bi-person-fill"></i>
        <div>Hesabım</div>
      </li>
    
      <li class="footer-items" data-slide-to="4">
        <i class="bi bi-three-dots"></i>
        <div>Daha Fazla</div>
      </li>
    </ul>
  </div>
</div>
