@rendermode InteractiveServer

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        @selectedItem
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        @foreach (var item in Items)
        {
            <li>
                <button class="dropdown-item" @onclick="() => OnItemSelected(item)">
                    @item
                </button>
            </li>
        }
    </ul>
</div>
 
@code {
    private string selectedItem;

    private List<string> Items = new List<string> { "Son 7 Gün", "Son 15 Gün","Son 1 Ay"};

    protected override void OnInitialized()
    {
        selectedItem = Items.FirstOrDefault();
    }

    private void OnItemSelected(string item)
    {
        selectedItem = item;
    }
 
}
